{% extends 'base.html' %}

{% block content %}
    <div class="main">
        {% if doesnt_exist %}
            <p class="header">This story doesn't exist!</p>
            <p class="links">...or maybe it is not available for the world to see.</p>
            <p class="links">If you are one of its writers... Maybe you forgot to log in?</p>
        {% else %}
            <p class="header">{{ story.title|title }}</p>
            {% if editable %}
                {% if not storywriter.active %}
                    <p class="links">If you want to play here, visit <a href="{% url 'personal' %}">your personal stories</a> and set it as active.</p>
                {% endif %}
                {% if not story.available %}
                    <p class="links">This story is unavailable. Our game cannot be played on here yet! It will remain this way until two or more writers of this story set it as active on their list of personal stories.</p>
                {% endif %}
            {% endif %}
            {% for snippet in snippets %}
                <div class="snippet">
                    <p class="text">{{ snippet.text }}</p>
                    <p class="author">- by {{ snippet.author }}</p>
                </div>
            {% endfor %}
            {% if not snippets %}
                <p class="links">This story is still empty!</p>
            {% endif %}
            {% if form and storywriter.active and story.available %}
                <form method="post">
                    {% csrf_token %}
                    <div class="snippetform">
                        <p class=links>Add New Snippet</p>
                        {% if form_errors %}
                            <p>Problems found when trying to add the snippet. You can try again.</p>
                        {% endif %}
                        <input type="hidden" name="story" value="{{ story.id }}">
                        <input type="hidden" name="author" value="{{ user.id }}">
                        <div>
                            <p>{{ form.text.label_tag }}</p>
                            {{ form.text.errors }}
                            {{ form.text }}
                        </div>
                        <input type="submit" value="Add Snippet">
                    </div>
                </form>
            {% elif editable and storywriter.active and story.available and not form %}
                <p class="bottom links">Thank you for adding your snippet! Wait for one of the other writers to add theirs...</p>
            {% endif %}
            {% if story.shareable or editable %}
                <p class="links rightside"><a href="{% url 'printable_story' pk=story.pk title=story.title|slugify %}">See printable version & story settings</a></p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}