{% extends "base.html" %}

{% block content %}

<div class="welcome">
    <div class=title>
        <p><span class="welcometo">Welcome to </span><span class="blackcat">Black Cat </span><span class="storysharing">Story Sharing</span></p>
    </div>
    <p class="options">Would you like to...?</p>
    <p class="options"><a href="{% url 'stories' %}">Take a look at our public stories</a></p>
    <p class="options"><a href="{% url 'profile' %}">{% if user.is_authenticated %}Visit your profile{% else %}Create a user / Log in{% endif %} to start <span class="playing">playing!</span></a></p>
</div>

{% endblock %}