{% extends "base.html" %}

{% block content %}

<div class="main">
    <p class="header">Personal Stories</p>
    <p class="links">
        Active stories are those in which you can write snippets (and receive email updates).
    </p>
    {% for storywriter in object_list %}
        <p class="listlinks"><a href="{% url 'display_story' storywriter.story.id %}">{{ storywriter.story.title }}</a> by {% for writer in storywriter.story.writers.get_queryset %}{{ writer }}{{ forloop.last|yesno:",&#44;"|safe }} {% endfor %}</p>
        <p class="listlinks">
            <form method="post" action="personal">
                {% csrf_token %}
                <input type="hidden" name="story" value="{{ storywriter.story.id }}">
                {{ form.active.errors }}
                {{ form.active.label_tag }}
                <input type="checkbox" name="active" onclick="this.form.submit();" id="id_active" {% if storywriter.active %}checked{% endif %}/>
            </form>
        </p>
    {% endfor %}
</div>

{% endblock %}