{% extends 'base.html' %}

{% block content %}
<script src="{% url 'jsi18n' %}"></script>

<div class="main">
    <p class="header">-- Start a new story --</p>

    {% if errors %}
        <p class="links">There were some problems with the data introduced below.</p>
        <p class="links">The story has not been created.</p>
    {% endif %}

    {{ form.media }}
    <form method="post" enctype="multipart/form-data" action="{% url 'start_story' %}">
        {% csrf_token %}
        <p class="form-story-title">
            {{ form.title.label_tag }} {{ form.title }}
            {{ form.title.errors }}
        </p>
        <div class="form-story-writers">
            {{ form.writers.label_tag }}
            {{ form.writers.help_text }}
            {{ form.writers.errors }}
            {{ form.writers }}
        </div>
        <p class="form-story-public">
            {{ form.public.label_tag }} {{ form.public }}
            {{ form.public.errors }}
        </p>
        <input type="submit" value="Create story">
    </form>
</div>
{% endblock %}