{% extends "base.html" %}

{% block content %}

<div class="main">
    <p class="header">-- Log in --</p>
    <form method='post', action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value="Submit" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p class="links"><a href="{% url 'lost_password' %}"> > Did you forget your password? < </a></p>
    <p class="links"><a href="{% url 'create_user' %}"> > Create a new user. < </a></p>
</div>

{% endblock %}